<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.com.chou.uc_module.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.chou.uc_module.domain.entity.User">
        <id column="id" property="id" />
        <result column="user_name" property="userName" />
        <result column="deposit" property="deposit" />
    </resultMap>
    <update id="updateUserDeposit" parameterType="com.chou.uc_module.po.UserPo">
        update user set deposit = deposit - #{po.deposit} where id = #{po.id}
    </update>

</mapper>
