package ${package.ServiceImpl};

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;
import com.baomidou.mybatisplus.core.metadata.IPage;
/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service("i${entity}Service")
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

}
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {

        public IPage<${entity}VO> getPage(Search${entity}Po po,Integer pageNo,Integer pageSize){

            return null;
        }

        public Boolean add${entity}(${entity}Po po){
            return null;
        }

        public ${entity}VO getOne(Long id){
            return null;
        }

        public Boolean update${entity}(${entity}Po po){
            return null;
        }

        public Boolean delete(Long id){
            return null;
        }
}
#end
